[2017-09-25 02:25] ManrajGrover opened #1 "Spinners breaks when text size exceeds terminal size"
Spinners breaks when text size exceeds terminal size. This needs to be fixed with text wrapping.

[2017-09-26 17:04] ManrajGrover opened #2 "Add tests to the library"
Explore async testing frameworks in python to test the library

[2017-09-26 17:05] ManrajGrover opened #3 "Add Documetation"
Currently code is not documented, also documentation needs to be added

[2017-09-30 11:26] ManrajGrover commented on #2
Fixed in 327531d45375963435a3719901983dde9ca767dd

[2017-09-30 11:26] #2 closed

[2017-10-01 07:10] ManrajGrover opened #5 "Improve Windows Support"
Currently, the package does not support Windows completely. Major reason for that is UTF-8 is not extensively supported by `cmd`, `powershell` etc.

[2017-10-01 11:24] ManrajGrover commented on #3
Fixed in c6107df3cdbb09060185a9a457779f5af6bc8f59

[2017-10-01 11:24] #3 closed

[2017-10-02 07:14] mbad0la opened #6 "Documentation on character support for the spinner"
Would be really good to have some troubleshooting guide for using this tool to it's full extent!

[2017-10-02 12:26] AmirZero opened #7 "Version 3 support"
Currently halo only supports version 2.
That'll be nice if we add version 3 support for halo.\
Best of luck.

[2017-10-02 12:29] ManrajGrover commented on #7
Hi Amir, I believe Python 3 is already supported. I've tested it as well (see https://travis-ci.org/ManrajGrover/halo). Please let me know if you're facing any issue using the library on Python 3.

[2017-10-02 17:46] AmirZero opened #8 "Bug found on initializing text attribute"
I  found a bug, when you try to use "\n" escape in "text" attribute when you want to initialize your Halo object at first.

Just try Defining a Halo object like this

`spinner = spinner = Halo({'text': 'Loading \n', 'spinner': 'dots'})`
and then if you start it, its like you put it in a while loop and then start.

[2017-10-02 17:55] ManrajGrover commented on #8
Accepted. We should strip line endings from text before rendering it.

[2017-10-02 18:00] ManrajGrover commented on #6
Hi @mbad0la, I would need more information here. What exactly needs to be documented?

[2017-10-02 21:00] althonos opened #10 "Why not use kwargs for options ?"
Hi there, this is a question / enhancement proposal:

instead of relying on type checking, why not use keyword arguments to initialize a `Halo` instance ? This would be more Pythonic IMO (although, I realize filing an issue just to tell you that might make me sound like an a**hole).

This way, you would have more control about accepted arguments (nothing stops someone from creating an `option` dic

[2017-10-03 00:25] beroe opened #11 "Low-overhead version for use in other code"
This is a really slick implementation. Congrats.

It is pretty trivial to use `pip`, but It would be great if there was a bare-bones version that we could embed or import into existing code, w/o requiring the user to install any other libraries.

What is the minimum set needed?

[2017-10-03 00:45] TomFaulkner commented on #5
I hope you are able to find a way to make this work on Windows. Following.

[2017-10-03 06:55] dgovil commented on #10
I second this, it would make the API much easier and cleaner to use.

Some reasons:

- You only have a few arguments anyway so using a dictionary doesn't give you any benefits
- It's much easier to catch errors with actual parameters, because a typo won't break the code. Using dictionaries, a typo could be hidden for a long time.
- It's better in editors where auto complete and intellisense will t

[2017-10-03 13:21] antoiner77 opened #14 "Debug log on terminal"
Hi,
when using Halo with boto3, I have a strange behaviour, all the debug log from boto are displayed
![capture d ecran 2017-10-03 a 15 19 27](https://user-images.githubusercontent.com/10193614/31127135-485d24ec-a84e-11e7-9584-a5a37ea5190d.png)
MacOS/Python3.6
halo (0.0.5)
boto3 (1.4.4)

Thanks

[2017-10-03 15:10] wookayin commented on #10
+1, Definitely. Please be pythonic.

[2017-10-03 16:07] lchabert commented on #14
Hi,

I have the same behaviour when using halo and openstacksdk on python 2.7.

Regards.

[2017-10-03 17:19] KOLANICH opened #15 "Merge the thing with tqdm"
tqdm is a library doing the similar task: it creates not a spinner, but a progressbar. Consider merging the thing with tqdm.

[2017-10-03 17:45] ManrajGrover commented on #10
@althonos I agree with you. @EVasseure was quick with the PR #13 too. Like I said before, I would love to incorporate this. 😄 Thank you for the suggestion. Keep them coming.

[2017-10-03 19:21] data-navigator commented on #5
Kinda works on windows following this guide: https://askubuntu.com/questions/827952/a-better-terminal-experience-for-windows-subsystem-for-linuxwsl  But several emojis still don't show up as expected in the examples.

[2017-10-03 21:25] danieltdp opened #17 "Provide option to render more than one spinner at the same time"
Suppose you get multiple long tasks at hand.
It should be nice to be able to start more than one spinner before finishing the last one

take this as an example:

`from halo import Halo

a = start_task_a()
a_spinner = Halo({'text': 'Do A', 'spinner': 'dots'})
a_spinner.start()
a_is_spinning = True

b = start_task_b()
b_spinner = Halo({'text': 'Do B', 'spinner': 'dots'})
b_spinner.start()
b_is_spinn

[2017-10-04 03:58] tizz98 commented on #14
@ManrajGrover I can work on this one. I think the solution here is to just create a logger specific for `halo` rather than removing logging altogether as was done in #18

[2017-10-04 15:31] ManrajGrover commented on #10
Fixed in 2d291bc

[2017-10-04 15:31] #10 closed

[2017-10-04 18:15] ManrajGrover commented on #11
Hi @beroe,

Thank you for your kind words. I didn't quite get it when you're saying `bare-bones version`. If you want to implement one, you can write a basic spinner (something like https://stackoverflow.com/a/4995896/2692667) where you don't need to add more dependencies to your project.

[2017-10-04 22:08] TomFaulkner commented on #5
Unfortunately, my users don't have and most likely will never have Windows subsystem for Linux. Microsoft really needs to catch up with their terminal interface.

[2017-10-04 22:35] beroe commented on #11
Yes, that simple solution is probably what I would need. Thanks for the pointer.

[2017-10-04 22:35] #11 closed

[2017-10-05 10:57] JungWinter commented on #5
I think `cmd` or `PowerShell` will not be supporting emojis for a long time :( As an alternative, Windows users may use other terminal apps like `ConEmu`, `Cmder` etc.

[2017-10-05 11:26] JungWinter commented on #14
It looks like solved in #12. @ManrajGrover right?

[2017-10-05 12:57] ManrajGrover commented on #14
@JungWinter Yes, I'm waiting for final changes before merging. :)

[2017-10-06 02:46] strattner commented on #7
@AmirZero I installed this through pip, and found it doesn't work in Python 3, but if you grab the latest version (git clone ... ) it works.

For example:

[code]
using the pip version:
$ python3 spin.py
Traceback (most recent call last):
  File "spin.py", line 3, in <module>
    spinner = Halo(text='Loading', spinner='dots')
TypeError: __init__() got an unexpected keyword argument 'text'

using l

[2017-10-06 03:14] JungWinter commented on #7
@strattner  Version of halo using pip to install is `0.0.5`. So it doesn't support `__init__` using keyword argument like `Halo(text='Loading', spinner='dots')`. Anyway, pip version is working in Python 3 :)

[2017-10-06 11:41] marton-schmalzl commented on #5
The ability to provide fallbacks would be nice, something like this:
{
    'interval': 100,
    'frames': ['★', '☆'],
    'fallback_frames': [ '*', ' '],
}

[2017-10-06 12:07] fuuman opened #19 "__init__() got an unexpected keyword argument 'text'"
I've just wanted to try out your example and got the following error.

`TypeError: __init__() got an unexpected keyword argument 'text'`

Installed halo via pip.

[2017-10-06 12:33] JungWinter commented on #19
Version of halo using pip to install is `0.0.5`. So it doesn't support `__init__` using keyword argument like `Halo(text='Loading', spinner='dots')` yet. Try `Halo({'text':'Loading', 'spinner':'dots'})`

[2017-10-06 16:37] #14 closed

[2017-10-06 18:09] ManrajGrover commented on #19
@fuuman This should have been fixed now. Please set version `0.0.6` while reinstalling. Let me know if you are facing any issue.

[2017-10-06 18:10] ManrajGrover commented on #7
@strattner This should have been fixed now. Please reinstall the package and set version as `0.0.6`. Let me know if you are still facing any issue.

[2017-10-06 18:25] strattner commented on #7
@ManrajGrover looks good, thanks

[2017-10-07 06:56] mbad0la commented on #6
Font support may not be available on certain systems implicitly (for e.g. Ubuntu) . Would be good if someone could document that...

[2017-10-08 20:40] massenz commented on #7
FWIW I just installed via pip and works great under Python 3.5.2 --  :heart: this project!
@ManrajGrover thanks for creating and sharing this, you're a :star2:

[2017-10-09 14:09] ManrajGrover opened #23 "Add Contribution Guidelines"
Contribution guidelines explaining how to open issues, pull requests etc needs to be added.

[2017-10-10 12:17] ManrajGrover commented on #7
@massenz @strattner Thank you for confirming. ❤️

@JungWinter Thank you for helping in handling some of the issues. ❤️

@massenz Thank you for your kind words! 😄

Closing this issue!

[2017-10-10 12:17] #7 closed

[2017-10-10 12:35] ManrajGrover commented on #19
@fuuman Closing this. Let me know if you're still facing this issue and I'll reopen this.

[2017-10-10 12:35] #19 closed

[2017-10-11 02:07] likezjuisee opened #25 "emojis not show"
![image](https://user-images.githubusercontent.com/12730220/31419015-eea210c4-ae6b-11e7-8996-15f5fd191be6.png)

[2017-10-11 17:07] ManrajGrover commented on #25
@likezjuisee I would need more information here. Please share the following:

1. Operating System?
2. Terminal being used?
3. Does your terminal support UTF-8?

[2017-10-11 17:09] ManrajGrover opened #26 "Add Issue and Pull Request Template"
Need to decide on basic issue and pull request template on high priority for easy management of the same.

[2017-10-11 17:41] ellisonleao commented on #26
i can help :)

[2017-10-12 06:41] likezjuisee commented on #25
ubuntu
no terminal, I connected the system by the ssh client.

[2017-10-13 16:17] #8 closed

[2017-10-15 01:25] o355 opened #28 "Halo interfering with colorama color styles"
In my program, I'm attempting to use the library Colorama to use terminal colors, and to brighten up text in my program. I'm also using halo for the spinners, but the two libraries conflict when a halo spinner is added.

Colorama's colored text automatically gets dimmed, and regardless if I disable the spinner, I'd have to brighten up each print statement, and every color change.

This appears to

[2017-10-15 09:28] ManrajGrover commented on #28
@o355 The only reason I can think of here is we need to call `deinit` in the library before exiting. But what confuses me is I'm not dimming the text anywhere in the library. Could you please share the code so that we can look into it?

[2017-10-15 15:11] o355 commented on #28
The code is in my project PyWeather. It's in the pyweather.py file, and the code around line 1190 is where the issues begin to occur.

[2017-10-17 03:30] shardulm94 commented on #1
Any progress on this?
I was thinking about this and was able to come up with a quick hack, the problem is compatibility though.

[code]

[2017-10-17 16:57] ManrajGrover commented on #25
@likezjuisee Okay. You're using `ubuntu` on remote desktop? If yes, which operating system you are using to access this system. Also, which terminal is being used for the same?

If not, could you please check if your terminal supports UTF-8? You can do this by running `echo $LC_CTYPE` or `echo $LANG`.

[2017-10-18 14:45] bertokhoury commented on #17
@ManrajGrover maybe one simply needs to initialize that if two spinners are spinning. Then, simply print a new line betweem them?

[2017-10-18 16:59] ManrajGrover commented on #1
@shardulm94 One solution I was thinking was to do handle it with ellipsis. I'm not sure about your solution and would need to try it before moving ahead. Please share if you get a chance to try it out. Also, feel free to raise a PR for the same. 😄

[2017-10-18 17:02] ManrajGrover commented on #17
@bertokhoury It can surely be tried. I was also looking to explore how other libraries do the same thing. [listr](https://github.com/SamVerschueren/listr) is one of them. Do let me know if you get a chance to implement your solution. Also, feel free to send a PR for the same. 😄

[2017-10-20 19:19] ManrajGrover commented on #28
@o355 I've gone through your code and from the looks of it, it is quite possible you are not ending your colored text with `Fore.RESET`. I've also tried producing this error on my machine, but nothing failed.

I would need external help as I don't have access to Windows machine to particularly look into this problem and to reproduce this issue as of now.

I would appreciate if you could also share

[2017-10-21 00:16] o355 commented on #28
Alright. I can tell you off the top of my head that I'm using Windows 10, and the issue occurs in PowerShell/Command Prompt. Python version is 3.6.2.

I'll get the halo version and pip freeze outout when I can.

[2017-10-23 14:57] o355 commented on #28
Here's the pip freeze output:
[code]

Halo version is 0.0.6 as seen above. I don't end my colored texts with Fore.RESET so I don't have an additional half a thousand Fore.RESET lines.

[2017-10-23 16:42] JungWinter commented on #28
@o355 I tested your code on my Windows machine and didn't find any problem. `Colorama` and `halo` are working well together. Isn't any screenshots you expected and actually got? If you can, I hope you provide us minimal code we can test. 😄

[2017-10-23 16:51] JungWinter commented on #25
@likezjuisee It is dependent on your ssh client program. Check whether supporting UTF-8 and Unicode charset or not. In my case, `PuTTY` client on `Windows 10` and `ubuntu 16.04`, it works well.

[2017-10-23 21:01] o355 commented on #28
Hmm...interesting. Here's a screenshot of what I'm getting:
![screenshot 16](https://user-images.githubusercontent.com/10540073/31912918-848a3098-b813-11e7-8bcf-dbe997af5872.png)

I've been pretty busy lately, but I'll find some time to upload some minimal code that's based off the issues I'm getting. I also updated halo to 0.0.7 and the issue is persisting for my code.

[2017-10-23 21:54] o355 commented on #28
I did a little investigating, and it looks to only be the brightness of the color that doesn't carry over from line to line, maybe even color to color.

[2017-10-24 17:13] manrajgrover opened #31 "Push README to Pypi"
Currently, README is in markdown which is not supported by pypi. We need to convert the file to reStructuredText for `pypi`. This can be automated.

[2017-10-24 21:08] niloch commented on #31
I've used [setuptools-markdown](https://github.com/msabramo/setuptools-markdown) in other projects, but you have to check the output to make sure it will render correctly on pypi which is fairly strict.

[2017-10-25 16:46] creepersbane commented on #28
I can confirm this for Ubuntu Xenial

[2017-10-26 10:52] likezjuisee commented on #25
thx

[2017-10-26 11:19] HBadertscher opened #32 "Jupyter Notebooks don't support Halo"
While Halo works perfectly fine in the terminal, I can't get Halo to work inside a Jupyter notebook. I am running the following code in the first cell of the notebook:

[code]
The program runs through without any errors, but no spinner is shown at all.

I figured out, that if you write something to `stdout` with `sys.stdout` prior to calling `Halo`, then the spinner is shown, but each spinner and

[2017-11-01 17:32] ManrajGrover commented on #32
@HBadertscher This is one feature I would love to include. I feel we would need to create a widget for jupyter notebook and ipython so that spinner renders as expected. I don't have experience with that, hence will take me a while to finalize the fix and get this working.

If you would like to work on this, feel free to take this one up and I will assign it to you.

[2017-11-03 17:02] ManrajGrover commented on #26
Fixed in #27

[2017-11-03 17:02] #26 closed

[2017-11-21 17:15] ManrajGrover commented on #23
Fixed in #29

[2017-11-21 17:15] #23 closed

[2017-11-23 13:16] ManrajGrover commented on #32
Just adding here. If spinner is started in a cell in iPython and not stopped within the same cell, the spinner cannot be stopped. Need to explore this a little more. A widget might fix this.

[2017-12-21 09:39] raintears opened #33 "cannot find spinners.json after package with PyInstaller"
it looks awesome but after I package into executable I can't run it because it can't find the json file. what should i do to fix this?

[2017-12-22 11:55] ManrajGrover commented on #33
Hey @raintears,

Thank you for using the package. I would need more information on how to reproduce this bug. Please fill out the template shared [here](https://github.com/ManrajGrover/halo/blob/master/.github/ISSUE_TEMPLATE.md) and comment here.

[2017-12-29 02:20] JungWinter commented on #17
@ManrajGrover I found that they use list and line counter to push string, render and clear in [listr](https://github.com/SamVerschueren/listr)→[listr-update-renderer](https://github.com/samverschueren/listr-update-renderer)→[log-update](https://github.com/sindresorhus/log-update)→[ansi-escapes](https://github.com/sindresorhus/ansi-escapes).
How about wrapping `frame` in something like `output`?

#

[2017-12-29 03:59] JungWinter commented on #32
@ManrajGrover Can I try to implement this feature? I don't have experience with ipython and jupyter widget too, but it's so interesting to work.

## refer
- [tqdm jupyter integration](https://pypi.python.org/pypi/tqdm#ipython-jupyter-integration)
- [tqdm notebook](https://github.com/tqdm/tqdm/blob/master/tqdm/_tqdm_notebook.py)
- [widget user guide](http://ipywidgets.readthedocs.io/en/latest/user_

[2017-12-29 07:56] ManrajGrover commented on #32
@JungWinter sure! Please go ahead and give it a try.

[2017-12-29 08:04] ManrajGrover commented on #17
@JungWinter That is such a clever solution! I guess we can support that. We would need to think of a design to accommodate this considering each spinner has its own thread and we would need to get the frame from each spinner before rendering. Let me know if you have already thought about the same.

[2017-12-29 10:10] JungWinter commented on #32
@ManrajGrover I made [prototype](https://github.com/JungWinter/halo/blob/feature-notebook/halo/halo_notebook.py) and can test in [notebook](https://github.com/JungWinter/halo/blob/feature-notebook/examples/notebook.ipynb).
First, `from ipywidgets import HTML` is tried, but problem was happen about color ansi code.
Second, `from ipywidgets.widgets import Output`, It's work well now. I overwrite `__

[2017-12-29 10:15] JungWinter commented on #32
And when I run `pylint`, SyntaxError is occured. Could you help me to handle this error?

[code]

[2017-12-29 11:43] ManrajGrover commented on #32
@JungWinter This looks amazing! I'll have a look at the code soon. Regarding lint error, I'll have a look at it as well while going through your code. Could you please check if this works on `ipython` as well?

[2017-12-29 14:41] JungWinter commented on #32
@ManrajGrover Thanks for reviewing! I checked `Halo` already works well. Although `HaloNotebook` doesn't work in `ipython shell`. I think it's not a problem because there is the original `halo`. If there are any problems I didn't recognize, please let me know.

[2017-12-30 13:56] ManrajGrover commented on #32
@JungWinter I remember the issue with iPython. If a user does not handle keyboard interrupt and the spinner is running, a `KeyboardInterrupt` is thrown but the spinner keeps spinning. I'm creating an issue for this.

[2017-12-30 14:00] ManrajGrover opened #35 "iPython notebook keyboard interrupt breaks cell when using Halo"
## Description
Currently, in an iPython notebook, if a user does not handle keyboard interrupt and the spinner is running, a `KeyboardInterrupt` is thrown but the spinner keeps spinning.

### System settings

- Operating System: MacOS
- Terminal in use: iTerm 2
- Python version: 2.7.10
- Halo version: 0.0.8

### Error

### Expected behaviour
[code]

## Steps to recreate
Following snippet should re

[2017-12-30 14:07] ManrajGrover commented on #25
@likezjuisee Is this resolved?

[2017-12-30 15:36] JungWinter commented on #35
In this case, if you type `spinner.stop()` (doesn't saw but it is kept handling) and press `Enter`, the spinner stops. But I think you want a more elegant solution.

To solve this problem, we capture `KeyboardInterrupt` signal, pass to the thread and stop a task immediately. One of the solutions is to implement specific thread class inherited `thread.Thread` like [this](https://stackoverflow.com/q

[2017-12-30 15:41] JungWinter commented on #32
@ManrajGrover Oh, I didn't check that issue. I worked a little to solve that problem. Please check my comment. https://github.com/ManrajGrover/halo/issues/35#issuecomment-354552242

[2017-12-31 17:24] ccc032 opened #36 "Bug: Escape sequences leaking on stdout, even using the sys.stderr stream"
## Description
When using a spinner with `stream=sys.stderr`, the escape sequences to hide/show the terminal's cursor will still be outputed to stdout. They are visible if stdout is redirected to a file and opened in a text editor/`cat -v`, or directly piped to `cat -v`. This messes with the program's normal output in any case.

### System settings

- Operating System: Void Linux x64
- Terminal in

[2018-01-01 17:52] manrajgrover opened #37 "Demos: Move demo gifs to svg based demos"
## Description
Currently, we make use of gif demos, which is cool, but not as cool as `svg-term-cli`. Need to explore and move demos to svg based terminal sessions to improve documentation.

[2018-01-01 18:03] ManrajGrover commented on #36
Hi @ccc032, thanks for reporting this. I believe this happens because of the dependency [cursor](https://github.com/GijsTimmers/cursor) being used where on [line 37](https://github.com/GijsTimmers/cursor/blob/master/cursor/cursor.py#L37), it outputs escape sequences. One way of fixing this would be to remove dependency and move the code to this library and allow streams to be passed. Another way w

[2018-01-01 18:07] ManrajGrover commented on #36
Updating things here, I've created an issue for this https://github.com/GijsTimmers/cursor/issues/2

[2018-01-03 03:19] JungWinter commented on #35
@ManrajGrover Would you like to send a PR for review?

[2018-01-03 07:34] ManrajGrover commented on #35
@JungWinter I would need a little more time to review the methods. Apologies for the delay.

[2018-01-03 07:35] ManrajGrover commented on #32
@JungWinter Please send a PR for this. I'll review the code. 😄 Thank you for working on this!

[2018-01-04 10:10] #36 closed

[2018-01-04 10:11] ManrajGrover commented on #36
@ccc032 This should be fixed now. Could you please try HEAD and check whether you are still facing this issue or not? I'll make a release for this soon.

[2018-01-05 04:21] ccc032 commented on #36
@ManrajGrover Everything works fine now, thanks.

[2018-01-06 11:39] ccc032 opened #41 "Bug: Cursor stays hidden after CTRL+C"
## Description
While a spinner is running, an unexpected exit of the script (like by pressing CTRL+C) makes the cursor stay hidden in the terminal.

### System settings

- Operating System: Void Linux
- Terminal in use: kitty
- Python version: 3.6.4
- Halo version: 0.0.9 (latest)

### Expected behaviour
The cursor should be made visible again.

## Steps to recreate
Cancel this script:
[code]

## P

[2018-01-09 08:41] likezjuisee commented on #25
Sorry, I have not try the putty client yet. I will notice you when I have the result. Thanks.

[2018-01-09 17:07] ManrajGrover opened #42 "KeyboardInterrupt: Should not persist text on CTRL+C"
## Description
Currently, we persist the text with `failed` symbol, which ideally should be done by the user if they want to show the text.

### System settings

- Operating System: NA
- Terminal in use: NA
- Python version: NA
- Halo version: 0.0.9
- `pip freeze` output: NA

### Error
NA

### Expected behaviour
On KeyboardInterrupt, no text should be persisted.

## Steps to recreate
Run the follo

[2018-01-10 16:21] #42 closed

[2018-01-10 16:22] ManrajGrover commented on #41
@ccc032 I could not reproduce this error on my end. I'm thinking it is because of specific terminal usage. Could you confirm the same?

[2018-01-10 22:02] ccc032 commented on #41
@ManrajGrover I get this bug no matter what terminal I try (kitty, xterm, urxvt, Linux tty). Is there any other information I can provide?

[2018-01-11 06:58] ManrajGrover commented on #41
@ccc032 Got it. Looks like this has already been fixed in HEAD but has not been released. Making a release to 0.0.10 with latest HEAD should fix this.

[2018-01-11 07:10] ManrajGrover commented on #35
With reference to #35, adding test case seems to fail on Appveyor. Need to find the reason behind this.

[2018-01-11 07:18] ManrajGrover commented on #41
@ccc032 Please try version `0.0.10` and let me know if the error still persists.

[2018-01-12 07:07] ccc032 commented on #41
@ManrajGrover Latest version fixed it for me, thanks.

[2018-01-12 07:19] ManrajGrover commented on #41
@ccc032 Thanks for confirming. Closing this.

[2018-01-12 07:19] #41 closed

[2018-01-12 07:21] ManrajGrover commented on #28
@o355 Is this resolved now?

[2018-01-12 17:28] o355 commented on #28
@ManrajGrover Can't confirm it's resolved as in my script I have the line to line brightness stuff. I'll have to write a quick script and I'll confirm if this is resolved.

[2018-01-14 16:05] ManrajGrover opened #45 "Development Guidelines: Add initial guidelines for contributing"
## Description
We should add how to set up the development environment and how to test code before sending a PR. This can go in a separate file which should be linked to `CONTRIBUTING.md`.

### System settings

- Operating System: NA
- Terminal in use: NA
- Python version: NA
- Halo version: NA
- `pip freeze` output: NA

### Error
NA

### Expected behaviour
NA

## Steps to recreate
NA

## People t

[2018-01-24 05:10] vidyarani-dg opened #46 "Disable spinners when not outputting to a TTY"
I am using halo for the spinners and it works absolutely fine while running the management command from the command line, however I do not want the spinners while running my test suite. This is cluttering my tests and I want to disable it. I don't see an option to disable it. The only other option is to write the output to a file.

Is it possible to disable the spinners when not outputting to a TT

[2018-01-24 06:37] ManrajGrover commented on #46
@vidyarani-dg We do have an option for [enabling and disabling](https://github.com/ManrajGrover/halo/blob/master/halo/halo.py#L66) the [spinner](https://github.com/ManrajGrover/halo#enabled). I believe you can disable it in your test environment using this.

[2018-01-25 05:58] vidyarani-dg commented on #46
I see , thanks! It's clearly in the initialization. Sorry, I missed it.

Will close this issue.

[2018-01-25 06:45] ManrajGrover commented on #46
@vidyarani-dg Did it work as per your requirement?

[2018-02-16 04:08] vidyarani-dg commented on #46
@ManrajGrover : Apologies for the tardiness in getting back to you, I did try

``
Halo(text='Loading files', enabled=False)
``

It did disable the info messages, however the errors are still outputting to the terminal.

Is this how it is supposed to work ?

[2018-02-16 08:54] steelman opened #47 "Synchronous spinner"
Support synchronous spinners which switch frames upon explicit request from a working thread like.

[code]
This can (as far as I understand) be achieved with .frame() but isn't as concise as the above.

[2018-02-16 08:58] JungWinter commented on #47
How about this way? I think it can do what you want.
[code]

[2018-02-16 09:01] steelman commented on #47
This isn't a bad solution, however, it doesn't work if there is nothing like a filename to show and I still want the spinner to be updated once a loop.

[2018-02-16 11:20] ManrajGrover commented on #46
@vidyarani-dg Which errors are being outputted? I would need more information in order to assist.

[2018-02-18 18:42] ManrajGrover opened #49 "Support custom spinners on Windows"
## Description
Currently, custom spinners provided by user is ignored mainly because of #5. We should allow custom spinners on Windows as well assuming user knows what he is doing.

[2018-02-19 00:59] vidyarani-dg commented on #46
@ManrajGrover : Sorry, the failure messages . For instance, this is how I am using the spinner.

With enabled=False, I do not see any of the success / text messages on the terminal, however I do see the failure messages.

[code]

[2018-02-19 09:43] ManrajGrover commented on #46
@vidyarani-dg Got it. Thanks for reporting this. I'll fix this and notify you with the release.

[2018-02-19 10:38] vidyarani-dg commented on #46
Thank you.

[2018-02-20 13:15] #46 closed

[2018-02-20 19:24] ManrajGrover commented on #46
@vidyarani-dg Made a release with fix in v0.0.11. Please upgrade and check if it works as expected.

[2018-02-22 12:48] #49 closed

[2018-03-28 12:30] tvdsluijs opened #56 "Text in front of spinner"
Not a real bug but a feature request.

It would be great if the Text could be in front of the spinner.

I created my own frames which gives me

. Loading
.. Loading
... Loading
..... Loading
...... Loading
....... Loading
...... Loading
..... Loading
.... Loading
... Loading
.. Loading
. Loading

:-) but I would like Loading in front (and keep loading as a text 👍 )

[2018-03-28 17:10] ManrajGrover commented on #56
Hi @tvdsluijs, looks like this feature is in demand and I guess there is already a PR for it (#52). The only reason that PR is being held upon is I cannot think of a reason to add this feature. Maybe if you could share a use case for it, I can think more. Also, let me know if #52 is resolving this or I'm not understanding your feature request.

[2018-03-28 17:50] mverteuil commented on #56
@ManrajGrover Perhaps you could consider using an enumeration controlled `placement` argument which defaults to the original placement? I think a spinner/progress indicator with a text prefix is a fairly common pattern. `pip` is one example of this.

Consider that these two support this mode as well:
 - https://pypi.python.org/pypi/progress
 - https://github.com/tqdm/tqdm

[2018-03-28 18:48] ManrajGrover commented on #56
Hi @mverteuil, thank you for sharing your thoughts.

I didn't quite get this.

This makes sense. But should one expect user to provide a custom progress bar? One reason for this being different from tqdm is tqdm focuses more on iterative tasks while this library focuses on async tasks. I can add support for iterative tasks with this feature but I would keep it at spinners and not progress bars.

W

[2018-03-28 20:04] mverteuil commented on #56
This comment is grounded in the implementation that exists in #52. For example, instead of using `right=False`, you could use `placement=Placement.LEFT`. This allows more flexibility and makes having multiple options be mutually exclusive down the road easier. I may be overreaching a bit with that concern. I think that PR is a good start, but my issue lies in the signature.

I agree with you about

[2018-04-22 02:58] toejough commented on #33
FWIW, I just ran into this problem and solved it with some `--add-data` flags to the pyinstaller command:

[code]

The `empty.txt` file is just an empty file to make pyinstaller create the `spinners` directory, as the path causing the problem is `spinners/../cli-spinners/spinners.json`, and whoever's responsible for representing/loading that path doesn't do the resolution to just `cli-spinners/spi

[2018-05-06 08:09] ManrajGrover commented on #56
@mverteuil We can work through the signature. Providing `Placement` enum is a good idea but I'm not sure if it's an overkill. I don't see any other positions where spinner can be placed (other than left or right). But yeah, we can surely have `placement` keyword argument and have default string as `'right'`.

[2018-05-06 08:14] ManrajGrover commented on #47
@steelman Thanks for opening this. Could you add an example to your second comment?

[2018-05-06 18:49] ManrajGrover commented on #32
This is fixed in #40 thanks to @JungWinter! This will be made available soon in next release. I need to do few fixes before making a release.

[2018-05-06 18:49] #32 closed

[2018-05-06 18:51] ManrajGrover commented on #25
@likezjuisee Was this issue resolved?

[2018-05-07 06:57] ManrajGrover commented on #47
@steelman I'm getting what you're saying. See, this is what `spinner.text` is for. If we need to step in every iteration, let's say for percentage, we would need to know the length of the iterable. For that, we need to add a wrapper which handles iterations and updates the text. But we can only do it for iterables.

[2018-05-08 08:10] steelman commented on #47
At this moment halo satisfies my needs so, most probably, I won't develop any solution to the problem I described. However, I imagine, you may want to keep this issue open, so if anybody comes looking for an inspiration for a contribution, they will find one.

[2018-05-08 17:58] #56 closed

[2018-05-08 18:00] ManrajGrover commented on #56
This feature has been added in #57. This will be made available in next release. 😄 Thanks to @stephen-bunn 🙌

[2018-05-10 09:09] ManrajGrover commented on #33
@raintears This sounds resolved to me with @toejough's approach. Yes, you would need to package the submodules for halo to work. I'll think whether we should remove submodules and bring everything into one repository but for now this is resolved.

[2018-05-10 09:09] #33 closed

[2018-05-11 07:57] ManrajGrover opened #58 "Bug: Spinner is not killed when parent thread throws an exception"
## Description
Currently, the thread is not killed when the parent thread throws an exception. A workaround for now is to catch the exception and stop the spinner manually.

### System settings

- Operating System: Any
- Terminal in use: Any
- Python version: 2.7.14 (actually any)
- Halo version: 0.0.12
- `pip freeze` output: NA

### Error
Spinner keeps spinning when the exception is thrown on par

[2018-05-13 10:44] ManrajGrover commented on #58
Fixed in 9b23858d8f78fe0b2d97641452067012821e0cee

[2018-05-13 10:44] #58 closed

[2018-05-14 17:55] ManrajGrover opened #59 "Bug: Output gets hidden on stop_and_persist in Jupyter notebooks"
## Description
Currently, in jupyter notebooks, the final `stop_and_persist` output is not persisted. I've opened an issue in ipywidget for understanding the issue a little better (https://github.com/jupyter-widgets/ipywidgets/issues/2072).

### System settings

- Operating System: Mac OS 10.13.1
- Terminal in use: NA
- Jupyter version: 4.4.0
- Python version: 2.7.14
- Halo version: 9f9ea376d43f0d

[2018-05-15 16:49] ManrajGrover opened #60 "Bug: Long texts length is not matching output area in Jupyter"
## Description
Currently, on using long texts with animations in Jupyter results in output wrapping in next line. Fix for this would be to give it a fixed layout width or try and get the width of display area while creating frames.

### System settings

- Operating System: Mac OS
- Terminal in use: NA
- Python version: 2.7.14
- Halo version: HEAD
- `pip freeze` output: NA

### Error
Output wraps i

[2018-05-16 16:09] ManrajGrover commented on #60
@JungWinter Could you look into this?

[2018-05-16 16:09] ManrajGrover commented on #59
@JungWinter Could you look into this as well?

[2018-05-17 15:32] JungWinter commented on #60
I checked it occurred because of wrong `get_terminal_size()`. In jupyter, width of `Output` widget is not related with terminal size. But in `HaloNotebook._get_text()`, it use `get_terminal_columns()` via `backports.shutil_get_terminal_size.get_terminal_size()`.

`backports.shutil_get_terminal_size.get_terminal_size()` decide terminal width using `columns = int(os.environ["COLUMNS"])`. But jupyter

[2018-05-20 13:30] ManrajGrover commented on #59
@JungWinter Yes, it seems to resolve the issue. I'm not sure if it breaks anything else.

[2018-05-20 13:34] ManrajGrover commented on #60
@JungWinter That is correct. I was trying to find a way around this but I think there is no official way. I was thinking of injecting some javascript code to get actual width and converting it to terminal size.

[2018-06-10 20:20] m451 commented on #5
Could you please provide some information on what spinners ARE currently supported on windows?

I'm currently fiddling around with this:
[code]

and not matter what spinner I provide for the `spinner` attribute it will allways default to the line spinner on Windows. Is this normal? I was thinking atleast other ASCII symbol spinners (e.g. dqpb) would work?

[2018-06-11 12:59] ManrajGrover commented on #5
@m451 This happens because I haven't done much testing on Windows, hence [only one spinner](https://github.com/ManrajGrover/halo/blob/master/halo/halo.py#L248..L254) is enabled as default on Windows platform.

If you're on Windows platform, maybe you can help the project with this. Halo depends on [py-spinners](https://github.com/ManrajGrover/py-spinners). I have a [script](https://github.com/Manr

[2018-06-11 18:19] m451 commented on #5
@ManrajGrover

Okay so I tested this on Windows 10. First I had to fix some things since the examples still use Python2 code and I'm running from Python3 (`xrange` renamed to `range`, `print '\n'` changed to `print('\n)`).

Result: with the default console and/or PowerShell console and the default font (Lucida Console) I was able to have those spinners displayed correctly:

- balloon
- bouncingBar

[2018-06-16 12:28] ManrajGrover commented on #5
@m451

Thank you for such detailed analysis. This will surely help in fixing a lot of the present issues. 💯

Thank you for raising this issue. I've fixed [it](https://github.com/ManrajGrover/py-spinners/blob/master/examples/examples.py) now.

Also, thank you for curating the list of spinners that can run in Windows environment. Here are a few solutions I had thought of earlier related to this:

1.

[2018-06-19 11:38] ManrajGrover opened #63 "Development: Check if stream is closed before calling clean up"
## Description
Currently, after every test tearDown is called which closes the stream. This throws an error [after the test passes](https://travis-ci.org/ManrajGrover/halo/jobs/394056305#L462) since clean up is called after every exit. Either we should not close stream after every test or we should check if stream is enabled on exit

### System settings

- Operating System: Any
- Terminal in use:

[2018-06-22 08:09] #63 closed

[2018-07-03 05:50] hshong9590 opened #65 "Bug: placement='right' in API doesn't work"
## Description
After adding ```placement='right'``` in the Halo constructor, the code gives an error that says "TypeError: __init__() got an unexpected keyword argument 'placement'".
Am I doing something wrong here?

[code]

### System settings

- Operating System: macOS
- Terminal in use: iTerm2
- Python version: 3.65
- Halo version: 0.0.12
- `pip freeze` output:
backports.shutil-get-terminal-siz

[2018-07-04 09:29] ManrajGrover commented on #65
Hi @hshong9590 ,

Thanks for opening this issue. I believe this is happening because this feature is not released for now. I plan to make a release this week sometime. Can you check if you're facing this issue from master branch of this project?

[2018-07-04 16:09] ManrajGrover commented on #65
I've made a release with this feature. Please upgrade your version to `0.0.13` and see if it is fixed. Do let me know if you're still facing this issue.

[2018-07-04 16:11] ManrajGrover commented on #60
@JungWinter I've made a release with Jupyter support for now. This issue is still not resolved and needs to be fixed (probably with a new approach).

[2018-07-05 06:41] hshong9590 commented on #65
It works!
Thank you, @ManrajGrover :+1:

[2018-07-05 07:13] ManrajGrover commented on #65
Thanks for confirming @hshong9590. Closing this.

[2018-07-05 07:13] #65 closed

[2018-07-12 13:26] vmalloc opened #67 "IPython dependency should be optional"
halo currently *requires* IPython 5.x, meaning that project depending on it cannot use newer versions.

Logically I don't think it makes much sense because there are many uses to halo not involving IPython at all, meaning this dependency should be optional (i.e. `extras`)

[2018-07-12 14:57] ManrajGrover commented on #67
Hi @vmalloc,

Thanks for opening this issue. Agreed, it should depend on the environment. Would you like to open a PR for it?

[2018-07-18 18:59] #67 closed, assigned to nobody

[2018-08-17 14:18] manrajgrover opened #74 "Create development guide"
## Description
Currently, there is no documentation on how to set up the environment for developing and working on the library. This should be fixed.

### System settings

- Operating System: NA
- Terminal in use: NA
- Python version: NA
- Halo version: NA
- `pip freeze` output: NA

### Error

NA

### Expected behaviour

NA

## Steps to recreate

NA

## People to notify

NA

[2018-08-26 10:40] #74 closed

[2018-09-07 10:00] K4zuki opened #79 "Bug: pip2 installation fails during parsing requirements.txt"
## Description

`pip install halo` fails and unable to install the module

### System settings

- Operating System: Windows 10 64bit
- Terminal in use: Git bash
- Python version: 2.7.10
- Halo version: 0.0.17
- `pip freeze` output:

[code]

BTW this also appears but is it better to do so?
[code]
### Error
[code]

-  `backports.shutil_get_terminal_size==1.0.0;python_version < '3.3'` appears in `req

[2018-09-07 11:43] manrajgrover commented on #79
@K4zuki Please upgrade your setuptools. `pip install -U setuptools`

Related issue: https://github.com/fugue/credstash/issues/124#issuecomment-269537813

[2018-09-07 14:01] K4zuki commented on #79
@manrajgrover
Thanks for your advise. I will be back as soon as upgraded.
For future reference, which `setuptools` version is the minimum requirement for smooth installation?

[2018-09-10 03:53] K4zuki commented on #79
@manrajgrover
The advise worked :) Closing thread.

[2018-09-10 03:53] #79 closed

[2018-09-10 07:16] manrajgrover commented on #79
@K4zuki Awesome! :)

[2018-09-14 16:29] manrajgrover opened #80 "Enable CI testing on various python versions"
## Description

Currently tests run for Python 2.7 and Python 3.6. We should enable it for other python versions. You know, just in case.

## People to notify
@manrajgrover

[2018-09-15 13:07] manrajgrover opened #81 "Add tests for checking color of spinner in stdout"
## Description

Currently tests run on cleaned `stdout` with no ansi escapings. Actual color in output is not tested. This issue aims to track and fix it.

See https://github.com/manrajgrover/halo/pull/78#pullrequestreview-155713163 for more information.

## People to notify

@manrajgrover

[2018-09-21 10:47] #80 closed

[2018-10-01 17:48] manrajgrover opened #88 "Improve test coverage"
## Description
Currently, the test coverage is around 88% which is okay but we can improve it. This issue focuses on adding tests covering missing branches.

## People to notify
@manrajgrover

[2018-10-01 18:42] Lilja commented on #88
I'm interested!

[2018-10-01 18:55] manrajgrover commented on #88
@Lilja Go ahead! Do let me know if you need any assistance.

[2018-10-02 17:41] Lilja commented on #88
Status report: Trying out the bounce animation, but i'm not sure if I discovered a bug or not.

[code]
Output(frames):

[code]
Shouldn't there be a C somewhere?
Win10, python 3.6.4

[2018-10-02 18:00] Lilja commented on #88
Offsetting the range by +1 fixes it.
https://github.com/manrajgrover/halo/blob/0767ac1d6e827cbe53347d9141eb3667b7b61019/halo/halo.py#L280

[2018-10-02 18:28] Lilja commented on #88
@manrajgrover Sure thing

[2018-10-02 18:31] manrajgrover opened #90 "Integrate coveralls"
## Description

For tracking test coverage for every PR, we should integrate coveralls. Details: https://coveralls.io

## People to notify

@manrajgrover

[2018-10-02 18:33] Lilja opened #91 "Bug: Bounce animation is not displaying full characters"
## Description
The last character of a bounce animation is never visible. Consider the case where the terminal width is 78 and the text width is 82. Animating with bounce will not show the last character.

### System settings

- Operating System: Win 10
- Terminal in use: Git bash
- Python version: 3.6.4
- Halo version: Commit  `0767ac1` / `0.0.17`
- `pip freeze` output: https://pastebin.com/iR79N

[2018-10-02 18:51] Lilja commented on #91
This test is added here #92

[2018-10-03 17:09] #91 closed

[2018-10-05 06:46] tterb opened #97 "Bug: "Error in atexit._run_exitfuncs" when running unit tests"
## Description

I'm using the package within a download function like so:
[code]
While, the package works as expected when running the program, when running unit test with pytest the test output is followed by the error message pasted below.

### System settings

- Operating System: macOS
- Terminal in use: iTerm2
- Python version: 3.5, 3.6, 3.7
- Halo version: 0.0.17
- `pip freeze` output:

### E

[2018-10-05 07:13] manrajgrover commented on #97
@tterb Thanks for reporting. I'll check if I can reproduce this issue on my end and get back to you on this.

[2018-10-05 16:59] #88 closed

[2018-10-06 02:04] tterb commented on #97
@manrajgrover Okay, let me know if more info is needed

[2018-10-06 06:52] #37 closed

[2018-10-08 17:16] manrajgrover commented on #90
Fixed in #98

[2018-10-08 17:16] #90 closed

[2018-10-12 13:52] PritishSehzpaul commented on #31
Hi, can you explain to me what is to be done? I will like to help.
As far as I understand we can use Markdown for uploading to pypi, according to: https://packaging.python.org/guides/making-a-pypi-friendly-readme/

[2018-10-17 03:33] theY4Kman opened #102 "Bug: exceptions are swallowed by __exit__"
## Description
By returning a truthy value from [`__exit__`](https://docs.python.org/3/reference/datamodel.html#object.__exit__), exceptions thrown when using Halo as a context manager are swallowed, and execution continues.

### System settings
- Python version: 3.6
- Halo version: 0.0.18

### Expected behaviour
[code]

## Steps to recreate
[code]

[code]

[2018-10-17 08:39] manrajgrover commented on #102
@theY4Kman Thanks for raising this issue! It makes sense to raise an exception after stopping the spinner. Would you like to raise a PR for this?

[2018-10-17 08:43] manrajgrover commented on #97
@tterb I would need more information here. Could you please create a sample code to reproduce this issue? I tried doing it but couldn't.

[2018-10-17 15:50] theY4Kman commented on #102
Haha! Yeah, might be tonight or tomorrow.

[2018-10-19 02:10] theY4Kman commented on #102
I tried running `tox` yesterday and had some issues. I tried again tonight and found the same (go figure :P though, I was missing py34 yesterday, so I tried again with it installed, just to be thorough): https://gist.github.com/theY4Kman/c9dbeffe44fce618f3fa402079073568

Though the main change in the PR would prolly be one-line — even if I really want to add an `__init__` kwarg to allow exception

[2018-10-20 19:35] manrajgrover commented on #102
@theY4Kman Strange! The test cases should pass just fine locally. Since only animation tests are failing, I think this might be because of terminal size issues. Maybe you can check if it is because of the same. Please raise a PR/share the code and let me also evaluate.

You're welcome! I'm trying my best to make this project complete and easy to develop with.

[2018-10-20 19:40] manrajgrover commented on #102
@theY4Kman I just merged #99 which should fix this issue for you.

[2018-10-20 20:41] manrajgrover commented on #31
@PritishSehzpaul Yes, it seems that now it supports markdown. We still don't push markdown to Pypi. This seems like an easy fix. Changing the issue title. Feel free to pick it up and send a PR.

@niloch My apologies. I missed your previous comments. Thank you so much for your involvement!

[2018-10-20 21:07] theY4Kman commented on #97
Presuming halo runs some cleanup using an `atexit` func, this sounds more to me like halo writing to what it thinks is `sys.stdout`, but was really pytest's caplog — which presumably is a StringIO long-since closed by the time halo cleans up.

[2018-10-20 21:17] theY4Kman commented on #97
Here ya go: https://repl.it/repls/SorrowfulNaturalDisassembler

[2018-10-21 02:03] theY4Kman commented on #102
Aww yiss! That did it! Thank you :) The linter fails with this guy I haven't had time to diagnose, yet, but with an interesting traceback like that, I'm dying to know what the hell it's doing
[code]

It's been a volcano at work for a hot minute — I'm hoping it'll die down, and I'll have Happy Fun Free Time™ again. I dig your motives, and you've been hella helpful; I'd love to contribute back.

[2018-10-21 06:54] manrajgrover commented on #102
@theY4Kman Yes, that is because linter works on Python 2.7 which this project is mostly written in. It breaks on [init-hook](https://github.com/manrajgrover/halo/blob/master/.pylintrc#L18) for Python 3. Since we can lint only for a particular Python version, I don't think there is a workaround for it but to install Python 2.7.

[2018-10-23 14:21] toejough commented on #102
just encountered this myself.  if anyone is unclear how to move forward in the meantime, here's a quick shim:

[code]

[2018-10-30 19:00] #102 closed

[2018-11-02 11:31] #31 closed

[2018-11-15 09:57] alarreine opened #110 "Bug: UnicodeEncodeError when redirect stdout to a file"
## Description
I'm trying to use Halo in a CLI that can be called from a terminal directly or from a CI, when I try to redirect the **stdout** to a file I have this exception.

Example:

[code]
It works perfectly in the terminal but when I try to redirect the stdout to a file, it raise an exception.
e.g.:
[code]

### System settings

- Operating System: Ubuntu 18.04.1 LTS
- Terminal in use: NA
- P

[2018-11-20 11:54] #110 closed

[2018-12-15 07:11] iboyperson opened #113 "Bug: text input ignores leading spaces"
## Description
When supplying something such as `spinner.start(text)` with a string like `"   =>"` it simply prints in the console as `"=>"`

### System settings

- Operating System: Arch Linus
- Terminal in use: Kitty
- Python version: 3.7.1
- Halo version: 0.0.22
- `pip freeze` output:
`
appdirs==1.4.3
astroid==2.1.0
attrs==18.2.0
backcall==0.1.0
black==18.9b0
certifi==2018.10.15
chardet==3.0.4

[2019-02-06 17:47] norweeg opened #116 "Bug: When used as a context manager, spinner starts itself"
## Description

When used as a context manager, a Halo spinner starts itself before .start() is called.

### Expected behaviour

The spinner should not start until .start() is called explicitly
## Steps to recreate
[code]

[2019-03-01 14:46] PatrikKopkan opened #118 "Discussion: `cursor` changed license"
Cursor is now under GPL license. Which means you should either change license too or stop using Cursor

[2019-03-01 14:48] PatrikKopkan commented on #118
https://github.com/GijsTimmers/cursor/blob/master/LICENSE

[2019-03-01 14:55] PatrikKopkan commented on #118
Or dont use newer versions of cursor in your project.

[2019-03-01 15:21] PatrikKopkan commented on #118
But I am no lawyer so dont rely on that much

[2019-03-03 11:26] manrajgrover commented on #118
Thanks for bringing this up and making me aware of this. I don't get into licensing much and hence `MIT` everything, thus don't know implications of this. I will investigate this and get back.

Thanks again!

[2019-03-08 20:07] tdsmith commented on #116
The examples in the README seem to suggest that self-starting is the expected behavior; will that change?

[2019-03-09 03:23] norweeg commented on #116
@tdsmith it auto starts even if the  Halo object is returned by its stop method.  Something is definitely wrong with it.  Also, if you want it to start when used as a context manager, you can by calling the start method which returns the Halo object

[2019-03-09 17:33] manrajgrover commented on #116
Hi @norweeg and @tdsmith,

Thanks for open the issue and apologies for such a late reply.

The PR in question would be https://github.com/manrajgrover/halo/pull/9.

Currently, things seem to be working as intended as per the feature request. I do agree with your example as well and that it should not auto start on object creation. Introducing this fix would be a breaking one and that should be int

[2019-03-09 18:01] tdsmith commented on #116
No, the existing behavior seems like the right behavior to me, so I was surprised that you considered it to be a bug. I think most users will expect the context manager to start a spinner immediately; requiring users to explicitly start the spinner will just add verbosity, making the context manager less elegant.

The context manager is just a shortcut for a common case, so perhaps it is not a goo

[2019-03-10 15:04] norweeg commented on #116
@manrajgrover I meant that creating the spinner with `with Halo(color="grey",spinner="clock",placement="left", animation="marquee").stop() as spinner:` doesn't create the Halo object in a stopped state, but then I realized that you're probably starting it in the __enter__ method, so creating it in a stopped state does nothing.  I guess ultimately I'm frustrated by the fact that I love the spinner,

[2019-03-17 09:20] JoseALermaIII commented on #5
@manrajgrover I can confirm that the default font (Consolas) still has terrible output:

![HaloPowerShell](https://user-images.githubusercontent.com/11242372/54488024-d04dbe80-486a-11e9-85b3-e03eb2afd030.gif)

I'm decent at making docs with Sphinx and reStructuredText, if you want them hosted on GitHub or readthedocs.org. I can start them with what's in README.md and add a Windows compatibility pa

[2019-03-31 21:13] cSchubes opened #120 "Upgrade to six==1.12.0"
## Description
Can Halo be upgraded to use `six` version 1.12.0? The `tensorflow` pip package depends on 1.12.0, making it completely incompatible with halo.

[2019-03-31 21:26] cSchubes commented on #120
Tested on Ubuntu 18.04 with six 1.12.0, seems to be compatible

[2019-04-07 12:46] manrajgrover commented on #5
@JoseALermaIII That would be really helpful. Currently, all of the documentation is part of README.md as far as I can remember. This will allow better structured documentation and easier access and maintainability with automation.

Looking forward to your PR.

Also, apologies for late replies. I'm in a middle of switching roles, hence the delay.

[2019-04-07 12:49] manrajgrover commented on #120
@cSchubes Certainly! Would you like to raise the PR for it? Do make sure the test cases pass.

Also, apologies for late replies. I'm in the middle of switching roles, hence the delay.

[2019-04-07 13:22] manrajgrover commented on #116
@norweeg Apologies for the troubles caused. I expect users to pick the best way to use these spinners. I think the given option of controlling spinners without context manager should work for your case.

I can totally understand why it is desirable to stop spinner during IO but this is something I expect the user to do it manually and is possible even in the case of context manager.

I will surely

[2019-04-07 15:14] norweeg commented on #116
@manrajgrover yeah, its fine now.  I did have one observation though:

if you're using HaloNotebook as a context manager in a Jupyter notebook, the output vanishes after you leave the context instead of persisting.  The work around is to just not use it as a context manager.

I also have 2 questions:  if you decorate a function with Halo decorator:

- do you get a Halo object or a HaloNotebook obj

[2019-04-07 20:23] cSchubes commented on #120
Output from running `python -m unittest test_halo`:
[code]

[2019-04-07 20:23] cSchubes commented on #120
will make PR now!

[2019-04-07 20:46] #120 closed

[2019-04-10 18:22] JoseALermaIII commented on #5
@manrajgrover No worries. I'm also occupied with other roles.

I have a patch that's working, but `tox` lint checks aren't working and I think it has to do with using Python 3.6+'s `venv` and `tox` in a Windows environment. It seems to be because of environment variables - I'll keep working on it.

I'd be glad to work on Sphinx docs after I solve this puzzle.

[2019-05-02 13:48] adamtheturtle opened #124 "Bug: Halo install requires UTF-8 locale to be set"
Thank you for the software. I recently added it to an internal tool and now am installing Halo on CI.

I hit this issue when installing Halo on some CI machines.
Some systems do not have UTF-8 set as the default locale.
Halo does not work in these cases.
This is because "README.md" is a UTF-8 encoded file, but `open()` uses the default encoding.

One way to reproduce this is with Docker:

[code]

[2019-05-07 04:11] t-makaro commented on #5
Microsoft is making a new [terminal](https://devblogs.microsoft.com/commandline/introducing-windows-terminal/) which will support emoji. It will support cmd, powershell, and bash.

[2019-05-07 05:29] JoseALermaIII commented on #5
Nice find! Version 1.0 in Winter 2019.
I'd be glad to test Halo compatibility when it comes out

[2019-05-15 14:19] Casyfill opened #127 "Bug: AttributeError: module 'enum' has no attribute 'IntFlag' #1995"
## Description
On installing halo a few packages start  complaining on `enum` (see error text below)

### System settings

- Operating System: MacOS 10.14.3 (18D109)
- Terminal in use: iterm2, bash
- Python version: 3.6, 3.7
- Halo version: 0.0.23
- `pip freeze` output:
[code]

### Error
[code]

## Steps to recreate
[code]
see https://github.com/iterative/dvc/issues/1995

[2019-05-29 04:26] #124 closed

[2019-05-29 09:13] manrajgrover commented on #127
@Casyfill Thanks for opening this issue!

This must be because of `enum34` being installed in Python3.6 which includes enum as a standard package. This dependency should be conditionally included which was fixed in one of the dependencies of halo but not released.

I've made a release today [`v0.0.25`](https://pypi.org/project/halo/) which should fix this issue. Kindly check and let me know if you

[2019-05-29 09:48] #97 closed

[2019-06-03 13:32] manrajgrover commented on #127
@Casyfill Closing this as it should be fixed.

Please let me know if it still persists.

[2019-06-03 13:32] #127 closed

[2019-06-04 08:00] #81 closed

[2019-06-12 08:24] NashMiao commented on #5
I try to run `doge_spin.py` in windows 10. But it only support one default spinner.

![image](https://user-images.githubusercontent.com/18191964/59334836-ec5be180-8d2d-11e9-9eda-cc0d79a668fe.png)

![image](https://user-images.githubusercontent.com/18191964/59334846-f251c280-8d2d-11e9-8765-5b87cb255bd0.png)

![image](https://user-images.githubusercontent.com/18191964/59334789-d2ba9a00-8d2d-11e9-878

[2019-07-15 13:06] JoshKarpel commented on #113
@manrajgrover It seems like a better default would be to `rstrip` the user's text instead of `strip`, so that trailing whitespace is removed but leading whitespace (like in the original issue) is preserved. This is less of a change than #114 , and still doesn't let the user break the spinner by having `\n` or `\r` at the end of their text (although it doesn't stop them from putting it in front...)

[2019-07-23 17:12] norweeg commented on #118
@PatrikKopkan, @manrajgrover is neither changing nor distributing the source code of cursor, it is merely a a dependency.  The MIT License is also [compatible with the GPL anyway](https://en.wikipedia.org/wiki/MIT_License) anyway

[2019-07-23 17:16] norweeg commented on #25
@manrajgrover I have this issue across many terminals as well as in Jupyter notebooks.  I can only ever get the "line" spinner, no matter what value I put

[2019-07-23 20:02] manrajgrover commented on #25
@norweeg Are you on Windows system?

[2019-07-23 22:12] norweeg commented on #25
@manrajgrover yep, already found the line in your code.  I'll try to fix it for you.  I get that terminal support sucks, but you shouldn't be preventing it in Jupyter on Windows....

[2019-08-26 08:28] makkus commented on #118
@norweeg , not sure what you are trying to say, but being compatible only goes in one direction. If you have a GPL project, you can call MIT-licensed code. But not vice versa. So, in the case of halo, you are not allowed to distribute any software that is incorporating halo (which comes with cursor) unless you license your software GPL.

I'd suggest to at least freeze the cursor dependency to vers

[2019-08-27 09:25] makkus commented on #118
@norweeg have you actually read: https://www.gnu.org/licenses/gpl-faq.en.html#WhatDoesCompatMean ?

It explicitely states:

All GNU GPL versions permit such combinations privately; they also permit distribution of such combinations provided the combination **is released under the same GNU GPL version**. The other license is compatible with the GPL if it permits this too. [emphasis mine]

There are

[2019-08-27 14:31] makkus commented on #118
I guess we agree then, that is the only relevant point I wanted to make. Of course 'halo' itself is safe. But, in practice, I can't see how that matters. 'halo' itself will never be distributed on it's own, it'll always be used as part of a larger application, as it's a library, not an application. So, its utility depends on being able to use it in your own application. As long as that is GPL, the

[2019-10-04 05:53] thisHermit commented on #17
I would like to work on this. @manrajgrover could you assign me on this?

[2019-10-12 23:58] mschmo commented on #59
I'd love to check to check this out for hacktoberfest. @JungWinter thanks for the starting point.

[2019-10-15 23:54] mschmo commented on #59
I looked into this a bit today. [This commit](https://github.com/manrajgrover/halo/commit/9b23858d8f78fe0b2d97641452067012821e0cee) caused the bug.

The reason why is `ip.events.register('post_run_cell', clean_up)` fires after every cell execution, which calls `clear()` and clears the last output.

I don't want to simply revert that commit, because it seems like there was a good reason for wanting

[2019-11-12 12:19] CoziestYew804 opened #135 "Overwriting Spinners"
## Description

Basically I have multiple threads and for each thread I defined an instance of halo spinner , but when running the program the halo status just overwrites constantly between each thread until success or failure.
I'd like it to print a new line of halo spinner text for each thread , and update only that line till success or failure

### System settings

- Operating System:Mac OS
- T

[2019-11-13 07:35] manrajgrover commented on #135
Currently, the code is written for synchronous operations and renders for one line. Looks like you wish to render multiple spinners in parallel. This is a feature request. Would you like to work on it?

[2019-11-13 14:00] CoziestYew804 commented on #135
I've tried to modify the code adding curses but it doesn't work. But that's not an issue I'll try to figure out a solution thanks !

[2019-11-21 15:53] C4PT41ND34DP00L opened #136 "BUG REPORT Spinner shows up for each function that runs"

[2020-01-05 00:09] t-makaro commented on #5
All of the spinner appear to work perfectly in both powershell core and cmd in Windows Terminal Preview v0.7.3451.0 on Windows 10.

To run the examples in this repo I had to modify:
https://github.com/manrajgrover/halo/blob/b095ae5b1401b936fbb9ce3d68b79a85354a2b7d/halo/_utils.py#L29

I did notice that the spinner.succeed/fail/warn methods display as a green v / red x / red x instead of the proper

[2020-01-14 23:17] t-makaro commented on #5
When using windows terminal, it sets the environment variable "WT_SESSION" this can be used to ensure proper compatibility with windows terminal and non-windows terminal terminals.

[2020-02-26 10:03] spencerwooo opened #140 "Bug: halo's output doesn't persist as expected inside Jupter Lab"
## Description

Currently, halo works as expected inside Jupyter Lab, but it clears the last output after running. Is there a way that I can persist all halo's outputs after the process finishes?

![halo](https://user-images.githubusercontent.com/32114380/75332223-fd9a4d80-58be-11ea-9dc3-b8daf5b93cd8.gif)

I imported halo with:

[code]

And I used halo in the following manner (same as the gif):

[

[2020-03-07 17:23] norweeg opened #141 "spinner overwritten in Jupyter on Windows"
@manrajgrover yep, already found the line in your code.  I'll try to fix it for you.  I get that terminal support sucks, but you shouldn't be preventing it in Jupyter on Windows....

_Originally posted by @norweeg in https://github.com/manrajgrover/halo/issues/25#issuecomment-514402896_

There is no reason to overwrite spinner value in Jupyter Notebook on _any_ platform

[2020-03-07 22:51] norweeg commented on #5
This issue has nothing to do with Windows and everything to do with your terminal emulator.  For example, on Windows using [Windows Terminal (preview)](https://www.microsoft.com/en-us/p/windows-terminal-preview/9n0dx20hk701), both CMD and Powershell are able to render the Unicode just fine.  The check should be removed.  It should be on the user to know what their terminal emulator does and does n

[2020-03-07 22:56] norweeg commented on #116
Didn't realize I left this open.

[2020-03-07 22:56] #116 closed

[2020-03-07 23:06] norweeg commented on #25
This isn't so much a bug as it is an unnecessary limitation placed on Windows users.  If you remove this limit and use a terminal emulator that supports Unicode output on Windows, then you don't have this problem.  See my comment here: https://github.com/manrajgrover/halo/issues/5#issuecomment-596145486

[2020-03-08 19:33] manrajgrover commented on #5
@norweeg Thanks for looking into this and for the pull request. While I agree that support for UTF-8 has improved on Windows, it is not something that I expect end-user to worry about. As a consumer of the library, I expect to use spinners without worrying about terminal support. For example, if I'm developing a CLI, I expect the library (halo) to check for support before execution. What do you sa

[2020-03-10 01:44] norweeg commented on #5
@manrajgrover I agree with the sentiment, however, the system check also prevents halo from working as expected on Windows for users using Windows terminals which *do* support UTF-8, of which there are many, as well as in Jupyter Notebooks on Windows.  I originally thought halo was broken because it kept ignoring my choice of spinner.  I think it would be better not to impose a system limitation o

[2020-03-10 02:10] norweeg commented on #5
@manrajgrover so I just stumbled into this: https://unix.stackexchange.com/questions/184345/detect-how-much-of-unicode-my-terminal-supports-even-through-screen

basically you print a unicode character which is larger than 1 byte to the terminal and poll the location of the cursor.  If the cursor doesn't move, or it moves more than 1 column, then your terminal does not support unicode.

[2020-03-11 01:59] t-makaro commented on #5
My understanding is that the problem isn't lack of UTF-8 support. It's a lack of fallback font support. Regardless, we could have a user settable variable that enables or disables a check for windows/WT_session (with disabled being the default).

Whatever we do. I think it would be far better to give Windows users the full ability to use all the spinners anytime/terminal (rip out the check for win

[2020-04-29 08:37] adamtheturtle commented on #135
This is a feature that I would like but currently cannot work on. If someone else wishes to, perhaps looking at https://github.com/docker/compose/blob/53d00f76777d111c192b0674eb89f2073da73cf0/compose/parallel.py would be useful.

[2020-05-24 17:31] serivas opened #145 "Can't get Unicode characters to show on Windows using Windows Terminal"
For some reason, I can't get halo to display Unicode characters correctly. Animation below. I'm using Windows 10, Windows Terminal, Python 3, and can see Unicode characters otherwise. I've tried this with multiple different terminals and shells.

![test](https://user-images.githubusercontent.com/59834210/82760590-103afa80-9dba-11ea-81f1-5c0045edb171.gif)

### System settings

- Operating System: W

[2020-06-30 11:26] lordmauve opened #146 "Suggestion: allow spinners to be indented"
In our project we perform a list of tasks sequentially, and each one of which displays a Halo spinner. However each such list of tasks is actually within a group. I'd like to visually illustrate the structure of the task list and groups (and possible, subtasks).

To indicate the nesting I'd like to be able to pass an `indent=` keyword argument to the Halo constructor:

[code]

I would personally u

[2020-07-29 05:56] takeda commented on #118
@manrajgrover all you need to do is to call `stdout.write("\033[?25l")` to hide a cursor and `stdout.write("\033[?25h")` to show it, there's no need to add this package so it can hijack the license.

Please remove this dependency, not only it makes your code "heavier", someone who incorporates your code into theirs might run into legal issues.

[2020-08-01 19:48] #118 closed

[2020-08-01 19:52] manrajgrover commented on #118
@PatrikKopkan @makkus @norweeg Thank you so much for insightful discussion! :)

I've removed `halo`'s dependency on `cursor` and have directly used a StackOverflow response on which that repo was based. This resolves this issue.

I'm also sorry for such delayed response. Recent events have kept me busy. Hence, I'm actually looking for maintainers of this project. If you're interested, feel free to

[2020-08-01 20:39] manrajgrover commented on #118
I've made the release in `v0.0.30`

[2020-08-01 21:16] manrajgrover commented on #146
@lordmauve Thanks for raising this issue! This sounds interesting, however, I'm thinking if there is a better way to do this?

[2020-08-01 21:17] manrajgrover commented on #145
@serivas Hi! This is because we have disabled unicode for Windows. We'll be making changes to extend support for Windows.

[2020-08-01 21:23] manrajgrover commented on #5
@norweeg Thanks for sharing!

Yes, it makes sense. Can we look into how other projects handle this issue? Perhaps, have a look at https://github.com/sindresorhus/ora?

[2020-08-03 19:57] norweeg commented on #5
@manrajgrover I'm definitely not an expert in Javascript, but looking over the source code, I'm fairly certain that ora isn't handling the issue at all, forcing all windows users to a fail-safe default line spinner, even if their terminal emulator supports unicode/modern fonts, same as halo does currently.  While I understand your desire to have it always look presentable, no matter what terminal

[2020-08-03 20:00] norweeg commented on #118
I'm always free to help in my spare time.  I'll try to resolve some bugs.  also I must apologize I have not been good at keeping up with the PRs I made a few months ago.  I'll rebase them on main and come up with some tests.  I have a few ideas how Halo might be improved as well which I may PR in the near future

[2020-09-05 16:39] foster999 commented on #47
Happy to update #132 and check it still works, if the feature might still be of interest @manrajgrover?

[2020-09-08 14:13] li-wjohnson opened #151 "Bug: Colorama init causes all ansi codes to be stripped when not in a tty"
## Description
`$ python -c "import halo; print('\033[93mfail\33[0m')"`
prints "fail" in red
`$ python -c "import halo; print('\033[31mfail\33[0m') | cat"
prints "fail" without color

This has many effects, including causing pytest --color=yes to stop working.

### System settings
- Halo version: 0.0.28

### Expected behaviour
Importing halo should not affect terminal output. Halo should probably

[2020-10-29 18:52] JustinTervala commented on #17
Any updates on this feature? I would like to use something like this

[2020-10-29 20:20] manrajgrover commented on #17
@JustinTervala there seems to be some progress in #155 which implements something similar. Have a look at the PR to see if it meets your requirement.

[2020-11-12 20:18] JustinTervala commented on #17
https://github.com/manrajgrover/halo/pull/155 looks like it would work for me.

[2021-01-21 17:22] lemassykoi commented on #151
Hi, same problem currently
All my ANSI colors are gone while using Halo 0.0.31

[2021-03-13 16:58] ThatXliner opened #156 "Suggestion: Added PEP 484 type hints"
## Description
This library needs [type hints](https://www.python.org/dev/peps/pep-0484/). I use [MyPy](https://mypy.readthedocs.io/en/stable/), which complain because this library has no [type stubs](https://mypy.readthedocs.io/en/stable/stubs.html). You can easily make them with

### System settings

- Operating System: macOS 11.2.1 (Big Sur 😬)
- Terminal in use: [iTerm2](https://iterm2.com) Bui

[2021-03-24 08:19] liudonghua123 opened #157 "Suggestion: Allow text to change when using decorate pattern."
## Description
I like the decorate pattern, but I found the text is always constant. I hope the text could change using some format strings.

I also write a simple version, it seems work as expected. Maybe the exist `Halo.__call__` could be refactor.

[code]

[2021-03-24 08:32] liudonghua123 commented on #157
I tried to refactor the following code using `with`/`__enter__`/`__exit__` form, however I failed because the execution flow is `__call__` **(only once)** -> `__enter__` -> `wrapped` -> `__exit__`. And in the `__enter__` I couldn't got `args`/`kwargs`, so the text could not substitute.

some help links:
https://www.geeksforgeeks.org/with-statement-in-python/
https://www.geeksforgeeks.org/python-fu

[2021-05-07 18:54] tirkarthi opened #159 "threading.Thread.setDaemon has been deprecated in favor of setting daemon attribute directly in Python 3.10"
## Description

Ref : https://github.com/python/cpython/pull/25174

### System settings

- Operating System:
- Terminal in use:
- Python version: 3.10
- Halo version:
- `pip freeze` output:

### Error

[code]

### Expected behaviour

Set daemon attribute directly

[2021-08-09 11:43] Nemo157 opened #162 "Bug: Crash when using an animation and switching to a new animated message shorter than current position"
## Description
If you set a message to be rendered using one of the animations, then stop it and change to a different message which is shorter than the original message but still needs animating, if the current index is longer than the new message an exception is thrown

### System settings

- Operating System: Arch Linux
- Terminal in use: Alacritty
- Python version: 3.9
- Halo version: 0.0.31
-

[2021-11-03 19:35] aress31 opened #163 "How to integrate with logging"
Could anyone please provide a doc snippet on how to make Halo work with the `logging` module, that would be sleek!

[2021-11-10 03:41] rpocase commented on #163
Could you provide an example use case? Maybe common Formatter configuration for stdout in a CLI tool?

[2021-11-10 03:46] rpocase opened #165 "Question[Discussion]: More maintainers?"
## Description
A pull request hasn't been merged since the end of September 2020. There are an increasing pile of PRs outstanding that would make this library better. Being able to pull several of these in to a combined released version would be great.

## People to notify
@manrajgrover

[2021-11-11 13:43] davidxia opened #167 "feature request: any appetite for supporting dynamic text?"
## Description
I'd like the text to be dynamic, e.g. an updating timestamp or time since something happened.
I have a [prototype here](https://github.com/manrajgrover/halo/pull/166) where users can make `text` a function instead of a static string.

[code]

Any appetite for supporting this? If so, any feedback on my PR would be great. I still have to add tests.

[2022-01-10 08:02] Davidy22 commented on #165
I've gone and just done a quick pass through of the pull request queue and merged the things that don't look like they need additional work. It's 6 of the 19 outstanding pull requests, I ignored the ones that failed CI, tthe thing that I have with some PRs pulled is over at [a fork I have](https://github.com/Davidy22/halu) but ideally we get more maintainers here so that the issue/pr queue gets pr

[2022-02-24 18:43] Nbelles commented on #167
I have just attempted the changes that were recommended on my local machine and they seem to work well. Thanks for putting in the work! @davidxia

[2022-02-24 19:35] davidxia commented on #167
@Nbelles thanks, hoping the maintainer(s) notice and reply :)

[2022-03-08 13:48] digital-idiot opened #170 "Spinner does not animate during some external function call."
## Description
Spinner does not animate during external function call.

### System settings

- Operating System: `Linux 5.16.11-2`
- Terminal in use: `Bash`
- Python version: `3.9.6`
- Halo version: `0.0.30`

### Error
There is no error message, just the spinner animation is stuck at initial position the entire time.

### Expected behaviour
There spinner should animate normally

## Steps to recrea

[2022-05-03 15:03] shashankx86 opened #171 "spinner not showing"
[code]
In termial it shows only shows /
![image](https://user-images.githubusercontent.com/64682801/166479623-927c5889-1ba8-4dcb-8821-cbcfd240a5a4.png)

I tried with lot of spinner but it only shows /

OS: Windows 11 Build 22000.556
Python 3.9.11

[2022-05-12 15:39] #171 closed

[2022-08-31 09:09] shahriyardx commented on #170
This is because the function is blocking

[2022-08-31 10:37] #170 closed

[2022-09-26 19:04] ajjayymahato commented on #60
Is this issue still open? I would like to work on this issue. Can you please assign this to me?

[2022-09-27 02:41] JungWinter commented on #60
I think it's still happening. @manrajgrover Could you confirm ajjayymahato's request? (At least, #165 issue is also needed to check.)

[2022-10-11 20:28] ajjayymahato commented on #60
If this issue is open can you please assign it to me so that I can work on it?

[2022-11-10 14:05] verenya opened #173 "Interview partners for research about communication in GitHub projects wanted"
Hi. My name is Verena Ebert, and I am a PhD student at the University of Stuttgart in Germany.
A few months ago, I have examined 90 GitHub projects to see what communication channels they use and how they write about them in the written documents, for example README or wiki. If you are interested in the previous results, you can find them here:
https://arxiv.org/abs/2205.01440
Your project was one